/* taken from prism/themes and modified */

code[class*='language-'],
pre[class*='language-'] {
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	tab-size: 4;
	hyphens: none;
}

code[class*='language-'] {
	@apply dark:bg-zinc-900 bg-slate-200 ring-slate-200 dark:ring-zinc-900 md:ring-8 ring-4;
}

pre[class*='language-'] {
	@apply overflow-y-hidden overflow-x-auto;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	@apply text-[slategray] dark:text-[#aaa];
}

.token.punctuation {
	color: #999;
}

.token.namespace {
	opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
	@apply text-[#905] dark:text-[#0cf];
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin {
	@apply text-[#690] dark:text-[yellow];
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.token.variable,
.token.inserted {
	@apply text-[#9a6e3a] dark:text-[yellowgreen];
}

.token.atrule,
.token.attr-value,
.token.keyword {
	@apply text-[#07a] dark:text-[deeppink];
}

.token.regex,
.token.important {
	@apply text-[#e90] dark:text-[orange];
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.deleted {
	color: red;
}

.token.email-link,
.token.url-link {
	@apply underline;
}

/* line-numbers on md */
/* prismjs/plugins/line-numbers/prism-line-numbers.css */
@media (min-width: 768px) {
	pre[class*='language-'].line-numbers {
		position: relative;
		padding-left: 3.8em;
		counter-reset: linenumber;
	}

	pre[class*='language-'].line-numbers > code {
		position: relative;
		white-space: inherit;
	}

	.line-numbers .line-numbers-rows {
		position: absolute;
		pointer-events: none;
		top: 0;
		font-size: 100%;
		left: -3.8em;
		width: 3em; /* works for line-numbers below 1000 lines */
		letter-spacing: -1px;
		border-right: 1px solid #999;

		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.line-numbers-rows > span {
		display: block;
		counter-increment: linenumber;
	}

	.line-numbers-rows > span:before {
		content: counter(linenumber);
		color: #999;
		display: block;
		padding-right: 0.8em;
		text-align: right;
	}
}

/* prismjs/plugins/show-invisibles/prism-show-invisibles.css */
.token.tab:not(:empty),
.token.cr,
.token.lf,
.token.space {
	position: relative;
}

.token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before,
.token.space:before {
	color: #808080;
	opacity: 0.6;
	position: absolute;
}

.token.tab:not(:empty):before {
	content: '\21E5';
}

.token.cr:before {
	content: '\240D';
}

.token.crlf:before {
	content: '\240D\240A';
}
.token.lf:before {
	content: '\240A';
}

.token.space:before {
	content: '\00B7';
}
